body {
  margin: 0;
  padding: 0;
}
ol{
  list-style-type:none;
  margin:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: -webkit-sticky;
  top: 0;
}

li {
  float: left;
}

.navbar-fix a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.fix-all a{
  display:inline;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  list-style-type:none;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

a.active {
  color: white;
  background-color: #04aa6d;
}

ul.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.content-pagination{
  margin-top: 20px;
    text-align: center;
}
.pagination{
  text-align: center;
}
.filter-container {
  display: flex;
  align-items: center;
}

.filter-container form {
  display: inline-block;
  margin-left: 15px;
}

.pagination-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left ul,
.navbar-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-left ul li,
.navbar-right ul li {
    margin: 0 ;
}

.navbar-right {
    margin-left: auto;
}