body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:auto;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

a.active {
  color: white;
  background-color: #04aa6d;
}

ul.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.content-pagination{
  margin-top: 20px;
    text-align: center;
}
.pagination{
  text-align: center;
}
/* Agrega esto en tu archivo CSS */
.filter-container {
  display: flex;
  align-items: center;
}

.filter-container form {
  display: inline-block;
  margin-left: 15px;
}

.pagination-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}
